<launch>
	<node pkg="rviz" type="rviz" name="rviz" 
		args="-d $(find ar_pose)/launch/live_single_pedro.rviz"/>
			
	<node pkg="tf" type="static_transform_publisher" name="world_to_cam" 
		args="-0.11 0 0 3.141592 0 0 ardrone_base_link world 10" />

	<node name="ar_pose" pkg="ar_pose" type="ar_single" respawn="false" output="screen">
		<param name="marker_pattern" type="string" value="$(find ar_pose)/data/4x4_52.patt"/>
		<param name="marker_width" type="double" value="56.0"/>
		<param name="marker_center_x" type="double" value="0.0"/>
		<param name="marker_center_y" type="double" value="0.0"/>
		<param name="threshold" type="int" value="100"/>
		<param name="use_history" type="bool" value="true"/>

  </node>
</launch> 
